<!--Author: nalivela saikumar -->

<br/>
<br/>
<h2>orderline itemdetails</h2>
<br/> ID:
<%=  orderlineitem._id %>
  <br> orderID:
  <%=orderlineitem.orderID %>
    <br/> lineNumber:
    <%=orderlineitem.lineNumber%>
    <br/> productKey:
      <%=orderlineitem.productKey%>
     <br/>quantity:
      <%=orderlineitem.quantity%>
     <br/> 

          
            <br/>
                      <form method="get" action="/orderlineitem">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>





