<!--Author: Nalivela , saikumar -->

<br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="orderlineitem/create" class="btn btn-primary new">
        Create a new order line item
      </a>
      <h2>Recent product entries</h2>
      <p>There are
        <%= orderLineItems.query.length %> products.
    </p>
    <% for ( let i = 0; i < orderLineItems.query.length; i++) {   
      orderlineitem = orderLineItems.query[i];   %>
      <div class="card">
        <div class="card-heading"></div>
        <div class="card-text" pull-right"></div>
        <div class="card-body">
          ID:
          <%=orderlineitem._id %>
          <br> orderID:
          <%=orderlineitem.orderID %>
          <br> lineNumber:
          <%=orderlineitem.lineNumber %>
          <br> productKey:
          <%=orderlineitem.productKey %>
           <br>quantity:
          <%=orderlineitem.quantity %>
           <br>
          
    <br>
    <br>
    <a href="orderlineitem/delete/<%= orderlineitem._id %>" class="btn btn-danger"> Delete </a>
    <a href="orderlineitem/details/<%= orderlineitem._id %>" class="btn btn-info"> Details </a>
    <a href="orderlineitem/edit/<%= orderlineitem._id %>" class="btn btn-warning"> Edit </a>
  </div>
  </div>
    <% } %>
 
</div>
</div>
</div>
