
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      About us
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="https://ao3.herokuapp.com/">Vennela Cheekoti</a>
      <a class="dropdown-item" href="https://myappa03.herokuapp.com/index">Sathwika Gone </a>
      <a class="dropdown-item" href="https://immense-bayou-86855.herokuapp.com/">Vishal Pannala</a>
      <a class="dropdown-item" href="https://frozen-depths-40616.herokuapp.com/">Saikumar Nalivela</a>
    </div>
  </li>