<br />
<br />
<h2>Confirm deletion of order</h2>
<br />
<br /> Order_Id:
<%=  order._id %>
<br> Email:
<%=order.email %>
<br /> Date Placed:
<%=order.datePlaced%>
<br /> Date Shipped:
<%=order.dateShipped%>
<br />Payment Type:
<%=order.paymentType%>
<br />
Number of Items in order:
<%=order.numberofitems%>
<br />
Amount Due:
<%=order.amountDue%>
<br />Is payment done?:
<%=order.paid%>
<br />

<form method="get" action="/order">
  <input type="submit" value="Return to list" class="btn btn-caution" />
</form>

<br />
<form method="POST" action="/order/delete/<%= order._id %>">
  <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
</form>