

<br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="order/create" class="btn btn-primary new">
        Create a new order
      </a>
      <h2>Recent order entries</h2>
      <p>There are
        <%= orders.query.length %> orders.
    </p>
    <% for ( let i = 0; i < orders.query.length; i++) {   
      order = orders.query[i];   %>
      <div class="card">
        <div class="card-header"></div>
        <div class="card-text pull-right"></div>
        <div class="card-body">
            <br/> Order_Id:
            <%=  order._id %>
              <br> Email:
              <%=order.email %>
                <br/> Date Placed:
                <%=order.datePlaced%>
                <br/> Date Shipped:
                  <%=order.dateShipped%>
                 <br/>Payment Type:
                  <%=order.paymentType%>
                 <br/>
                 Number of Items in order:
                  <%=order.numberofitems%>
               <br/>
               Amount Due:
                  <%=order.amountDue%>
                 <br/>Is payment done?:
               <%=order.paid%>
          
    <br>
    <br>
    <a href="order/delete/<%= order._id %>" class="btn btn-danger"> Delete </a>
    <a href="order/details/<%= order._id %>" class="btn btn-info"> Details </a>
    <a href="order/edit/<%= order._id %>" class="btn btn-warning"> Edit </a>
  </div>
  </div>
    <% } %>
 
</div>
</div>
</div>
