
<!-- main  -->
<div class=row>
    <div class="col col-xs-12">
        
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email" value="<%= order.email %>" required>
      </div>
      <div class="form-group">
        <label for="datePlaced">Date Placed</label>
        <input type="text" class="form-control" id="datePlaced" name="datePlaced" value="<%= order.datePlaced %>" required>
      </div>
      <div class="form-group">
        <label for="dateShipped">Date Shipped</label>
        <input type="text" class="form-control" id="dateShipped" name="dateShipped" value="<%= order.dateShipped %>" required>
      </div>
      <div class="form-group">
        <label for="paymentType">Payment Type</label>
        <select class="form-control" id="paymentType" name="paymentType" value="<%= order.paymentType %>" required>
            <option value="notselectedyet">not selected yet</option>
            <option value="cash">cash</option>
            <option value="creditcard">credit card</option>
            <option value="check">check</option>
          </select>
      </div>
      <div class="form-group">
        <label for="numberofitems">Number of Items in order</label>
        <input type="text" class="form-control" id="numberofitems" name="numberofitems" value="<%= order.numberofitems %>">
      </div>
      <div class="form-group">
        <label for="amountDue">Amount Due</label>
        <input type="text" class="form-control" id="amountDue" name="amountDue" value="<%= order.amountDue %>">
      </div>
      <div class="form-group">
        <label for="paid">Is payment done? </label>
        <input type="text" class="form-control" id="paid" name="paid" value="<%= order.paid %>">
      </div>
      </div>
    </div>
  </div>
  
  
  