<!--Author: Vennela Cheekoti -->



<br/>
<br/>
<h2>Confirm deletion of Product</h2>
<br/>
<br/> ID:
<%=  product._id %>
  <br> ProductName:
  <%=product.product_Name %>
    <br/> ProductType:
    <%=product.product_Type%>
    <br/> ProductDescription:
      <%=product.product_Description%>
     <br/>ProductPrice:
      <%=product.product_Price%>
     <br/>
     <br/>sellerID:
      <%=product.seller_ID%>
   <br/>   
            <br/>
            <br/>

            <form method="get" action="/product">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>

            <br/>
            <form method="POST" action="/product/delete/<%= product._id %>">
              <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
            </form>



