<!--Author: Vennela Cheekoti -->

<br/>
<br/>
<h2>Product details</h2>
<br/> ID:
<%=  product._id %>
  <br> Product Name:
  <%=product.product_Name %>
    <br/> Product Type:
    <%=product.product_Type%>
    <br/> Product Description:
      <%=product.product_Description%>
     <br/>Product Price:
      <%=product.product_Price%>
     <br/>  sellerID:
     <%=product.seller_ID%>
     <br />

          
            <br/>
                      <form method="get" action="/product">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>





