<!--Author: Vennela Cheekoti -->

<br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="product/create" class="btn btn-primary new">
        Create a new product
      </a>
      <h2>Recent product entries</h2>
      <p>There are
        <%= products.query.length %> products.
    </p>
    <% for ( let i = 0; i < products.query.length; i++) {   
      product = products.query[i];   %>
      <div class="card">
        <div class="card-header"></div>
        <div class="card-text pull-right"></div>
        <div class="card-body">
          ID:
          <%=product._id %>
          <br> ProductName:
          <%=product.product_Name %>
          <br> ProductType:
          <%=product.product_Type %>
          <br> ProductDescription:
          <%=product.product_Description %>
           <br>ProductPrice:
          <%=product.product_Price %>
           <br>ProductsellerID:
          <%=product.seller_ID %>
           <br>
          
    <br>
    <br>
    <a href="product/delete/<%= product._id %>" class="btn btn-danger"> Delete </a>
    <a href="product/details/<%= product._id %>" class="btn btn-info"> Details </a>
    <a href="product/edit/<%= product._id %>" class="btn btn-warning"> Edit </a>
  </div>
  </div>
    <% } %>
 
</div>
</div>
</div>
