
<!-- main  -->
<div class=row>
  <div class="col col-xs-12">
      
    <div class="form-group">
      <label for="product_Name">ProductName</label>
      <input type="text" class="form-control" id="product_Name" name="product_Name" value="<%= product.product_Name %>" required>
    </div>
    <div class="form-group">
      <label for="product_Type">ProductType</label>
      <input type="text" class="form-control" id="product_Type" name="product_Type" value="<%= product.product_Type %>" required>
    </div>
    <div class="form-group">
      <label for="product_Description">ProductDescription</label>
      <input type="text" class="form-control" id="product_Description" name="product_Description" value="<%= product.product_Description %>" required>
    </div>
    <div class="form-group">
      <label for="product_Price">ProductPrice</label>
      <input type="text" class="form-control" id="product_Price" name="product_Price" value="<%= product.product_Price %>" required>
    </div>
    <div class="form-group">
      <label for="seller_ID">Product sellerID</label>
      <input type="text" class="form-control" id="seller_ID" name="seller_ID" value="<%= product.seller_ID %>">
    </div>

    </div>
  </div>
</div>


