<!-- main  -->
<div class=row>
    <div class="col col-xs-12">
        
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email" value="<%= customer.email %>" required>
      </div>
      <div class="form-group">
        <label for="firstname">FirstName</label>
        <input type="text" class="form-control" id="firstname" name="firstname" value="<%= customer.firstname %>" required>
      </div>
      <div class="form-group">
        <label for="lastname">LastName</label>
        <input type="text" class="form-control" id="lastname" name="lastname" value="<%= customer.lastname %>" required>
      </div>
      <div class="form-group">
        <label for="phonenumber">Phone Number</label>
        <input type="number" class="form-control" id="phonenumber" name="phonenumber" value="<%= customer.phonenumber %>">
      </div>
      <div class="form-group">
        <label for="street">Street Address</label>
        <input type="text" class="form-control" id="street" name="street" value="<%= customer.street %>" required>
      </div>
     
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" name="city" value="<%= customer.city %>" required>
      </div>
      <div class="form-group">
        <label for="state">State</label>
        <input type="text" class="form-control" id="state" name="state" value="<%= customer.state %>" required>
      </div>
      <div class="form-group">
        <label for="zip">Zip-Code</label>
        <input type="text" class="form-control" id="zip" name="zip" value="<%= customer.zip %>" required>
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <input type="text" class="form-control" id="country" name="country" value="<%= customer.country %>" required>
      </div>
      
    </div>
  </div>
  
 